<ons-page id="move3">



    <div class="left">
        <ons-back-button>back</ons-back-button>
    </div>
    <div class="center"></div>

    <p style="text-align: center;">
        <img class="imgmove" src="image/pic3.jpg" style="text-align: center;">
    </p>
    <h5 style="text-align: center;">Avengers(2019)</h5>
    <p style="text-align: left; margin: 10px;">เป็นภาพยนตร์อเมริกันแนวซูเปอร์ฮีโร่ มีเค้าโครงจากมาร์เวลคอมิกส์ เรื่อง
        ดิอเวนเจอร์ส
        ผลิตโดยมาร์เวลสตูดิโอส์ และจัดจำหน่ายโดยวอลต์ดิสนีย์สตูดิโอส์โมชันพิกเชอส์
        เป็นภาพยนตร์ลำดับที่ยี่สิบสองในจักรวาลภาพยนตร์มาร์เวล และเป็นภาพยนตร์ลำดับรองสุดท้ายในจักรวาลภาพยนตร์เฟส 3</p>

</ons-page>