<ons-page id="favoritepage">
    <ons-navigator swipeable id="Navigator_favorite" page="favoritemovie"></ons-navigator>
    <template id="favoritemovie">
   
      <ons-page id="favorite">


        <p style="text-align: center">Your favorite movie</p>
        <img id="favorite_aladdin" src="image/pic1.jpg" width="30%" style="float: left; margin: 5px 5px;">
        <img id="favorite_black" src="image/pic2.jpg" width="30%" style="float: center; margin: 5px 5px;">
        <img id="favorite_avengers" src="image/pic3.jpg" width="30%" style=" margin: 7px 5px;">
    
    </ons-page>



  </template>

</ons-page>