<ons-page id="Tab2">

  <p style="text-align: center; margin-top: 10px;">
    <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)">
    </ons-search-input>
  </p>
  <p style="text-align: center;">รายการแนะนำ</p>

  <p style="text-align: left;">
    <img src="image/pic1.jpg" width="35%" style="float: left; margin: 5px 10px;">
  <h5 style="text-align: center;">Aladdin(2019)</h5>
  <p style="font-size: 12px;">อะลาดิน เป็นจอมโจรหนุ่มจิตใจงามที่อาศัยอยู่ในนครอัคราบาห์ของอาหรับ อยู่ร่วมกับ
    ลิงสัตว์เลี้ยงนาม อาบู ได้ช่วยชีวิตและผูกมิตรกับเจ้าหญิงจัสมินที่แอบหลบหนีออกจากวัง เพื่อออกสำรวจชีวิต
    เพราะเบื่อกับชีวิตที่ถูกประคบประหงม ในขณะเดียวกัน มหาเสนาบดีจาฟาร์มีแผนการที่จะโค่นล้ม สุลต่าน บิดาของเจ้าหญิงจัสมิน
  </p>
  <img src="image/star.png" width="35%" style="float: left;" alt="">
  <h5 style="font-size: 12px; margin-top: 30px;">(5.0)</h5>
  </p>

  <p style="text-align: left;">
    <img src="image/pic2.jpg" width="35%" style="float: left; margin: 5px 10px;">
  <h5 style="text-align: center;">Black Panther(2018)</h5>
  <p style="font-size: 12px;">ป็นตัวละครซูเปอร์ฮีโรในหนังสือการ์ตูนอเมริกันที่จัดพิมพ์โดยมาร์เวลคอมิกส์ สร้างสรรค์โดย
    สแตน ลี (Stan Lee) และ แจ็ก เคอร์บี (Jack Kirby) ปรากฏตัวครั้งแรกใน Fantastic Four ชุดที่ 1 เล่มที่ 52 (กรกฎาคม
    1966) โดยตัวละครนี้เป็นซูเปอร์ฮีโรผิวสีคนแรกของมาร์เวลคอมิกส์ แบล็กแพนเทอร์ปกครองและพิทักษ์ประเทศสมมุติในแอฟริกาที่ชื่อ วาคานดา
    (Wakanda)
  </p>
  <img src="image/star.png" width="35%" style="float: left;" alt="">
  <h5 style="font-size: 12px; margin-top: 30px;">(5.0)</h5>
  </p>

 
</ons-page>