


<ons-page id ="searchpage">
  <ons-navigator swipeable id="Navigator_search" page="search1"></ons-navigator>
  <template id="search1">
     

    <ons-page id="search">
      <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)">
        </ons-search-input>
      </p>
      <p style="text-align: center;">รายการแนะนำ</p>
    
      
      <ons-card style="float:left;" id="search_aladdin" >
    
        <div><img src="image/pic1.jpg" width="35%" style="float: left; margin: 5px 10px;"></div>
        <h5 style="text-align: center;">Aladdin(2019)</h5>
        <div class="content" style="font-size: 12px;"">อะลาดิน เป็นจอมโจรหนุ่มจิตใจงามที่อาศัยอยู่ในนครอัคราบาห์ของอาหรับ อยู่ร่วมกับ
          ลิงสัตว์เลี้ยงนาม อาบู ได้ช่วยชีวิตและผูกมิตรกับเจ้าหญิงจัสมินที่แอบหลบหนีออกจากวัง เพื่อออกสำรวจชีวิต
          เพราะเบื่อกับชีวิตที่ถูกประคบประหงม</div>
    
          <div ><img src=" image/star.png" width="35%" style="float: left;" alt="">
    
        </div>
        <h5 style="font-size: 12px; margin-top: 15px;">(5.0)</h5>
      </ons-card>
    
      
      <ons-card style="float: left;" id="search_black">
        <div class="content"><img src="image/pic2.jpg" width="35%" style="float: left; margin: 5px 10px;"></div>
        <h5 style="text-align: center;">Black Panther(2018)</h5>
        <div class="content" style="font-size: 12px;"">เป็นตัวละครซูเปอร์ฮีโรในหนังสือการ์ตูนอเมริกันที่จัดพิมพ์โดยมาร์เวลคอมิกส์ สร้างสรรค์โดย
          สแตน ลี (Stan Lee) และ แจ็ก เคอร์บี (Jack Kirby) ปรากฏตัวครั้งแรกใน Fantastic Four ชุดที่ 1 เล่มที่ 52 (กรกฎาคม
          1966) </div>
    
          <div ><img src=" image/star.png" width="35%" style="float: left;" alt="">
    
        </div>
        <h5 style="font-size: 12px; margin-top: 15px;">(5.0)</h5>
      </ons-card>
    
    
      <ons-card style="float: left;" id="search_avengers">
        <div class="content"><img src="image/pic3.jpg" width="35%" style="float: left; margin: 5px 10px;"></div>
        <h5 style="text-align: center;">Avengers(2019)</h5>
        <div class="content" style="font-size: 12px;"">เป็นภาพยนตร์อเมริกันแนวซูเปอร์ฮีโร่ มีเค้าโครงจากมาร์เวลคอมิกส์ เรื่อง ดิอเวนเจอร์ส
          ผลิตโดยมาร์เวลสตูดิโอส์ และจัดจำหน่ายโดยวอลต์ดิสนีย์สตูดิโอส์โมชันพิกเชอส์
          เป็นภาพยนตร์ลำดับที่ยี่สิบสองในจักรวาลภาพยนตร์มาร์เวล และเป็นภาพยนตร์ลำดับรองสุดท้ายในจักรวาลภาพยนตร์เฟส 3</div>
    
          <div ><img src=" image/star.png" width="35%" style="float: left;" alt="">
    
        </div>
        <h5 style="font-size: 12px; margin-top: 15px;">(5.0)</h5>
      </ons-card>
    
    </ons-page>
    


  </template>

</ons-page>